body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}


html {
    -ms-touch-action: pan-x ;
}


body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
    color: white;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    
    
}
.center{
    text-align: center;
}

div#thanksSplash{
    background-image: url(../images/background.jpg);
    width: 100%;
    height: 100%;
    text-align: center;
    top:0;
    left:0;
    
}

#newTitle{
 background-color: chartreuse;   
}
#footBut{
    bottom: 0;
    position: fixed;
    margin-right: 2%;
    margin-bottom: 2%;
    right: 0;
    display: inline-block;
}
h1, h3, h2, h4, p, span{
 color:white;   
}
p#wrongpass{
    color:red;
}
label.narrow-control{
    color: white;
}
.social-media-icons{
 display: inline;
margin: 1%;
}

li .c8{
 color: white;
}

ol.lst-kix_kkq46tr0dz9-8.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-8 0}.lst-kix_kkq46tr0dz9-8>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-8,lower-roman) ". "}.lst-kix_kkq46tr0dz9-7>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-7}.lst-kix_kkq46tr0dz9-4>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-4}ol.lst-kix_kkq46tr0dz9-5.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-5 0}.lst-kix_kkq46tr0dz9-3>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-3}.lst-kix_kkq46tr0dz9-7>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-7,lower-latin) ". "}ol.lst-kix_kkq46tr0dz9-6.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-6 0}.lst-kix_kkq46tr0dz9-2>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-2}ol.lst-kix_kkq46tr0dz9-7.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-7 0}ol.lst-kix_kkq46tr0dz9-3.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-3 0}ol.lst-kix_kkq46tr0dz9-8{list-style-type:none}ol.lst-kix_kkq46tr0dz9-7{list-style-type:none}ol.lst-kix_kkq46tr0dz9-4.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-4 0}.lst-kix_kkq46tr0dz9-0>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-0,decimal) ". "}ol.lst-kix_kkq46tr0dz9-4{list-style-type:none}.lst-kix_kkq46tr0dz9-0>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-0}ol.lst-kix_kkq46tr0dz9-3{list-style-type:none}ol.lst-kix_kkq46tr0dz9-6{list-style-type:none}.lst-kix_kkq46tr0dz9-2>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-2,lower-roman) ". "}ol.lst-kix_kkq46tr0dz9-5{list-style-type:none}ol.lst-kix_kkq46tr0dz9-0{list-style-type:none}.lst-kix_kkq46tr0dz9-4>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-4,lower-latin) ". "}.lst-kix_kkq46tr0dz9-5>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-5}ol.lst-kix_kkq46tr0dz9-0.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-0 0}ol.lst-kix_kkq46tr0dz9-2{list-style-type:none}.lst-kix_kkq46tr0dz9-8>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-8}.lst-kix_kkq46tr0dz9-6>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-6,decimal) ". "}ol.lst-kix_kkq46tr0dz9-1{list-style-type:none}.lst-kix_kkq46tr0dz9-1>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-1,lower-latin) ". "}.lst-kix_kkq46tr0dz9-1>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-1}ol.lst-kix_kkq46tr0dz9-1.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-1 0}.lst-kix_kkq46tr0dz9-6>li{counter-increment:lst-ctn-kix_kkq46tr0dz9-6}ol.lst-kix_kkq46tr0dz9-2.start{counter-reset:lst-ctn-kix_kkq46tr0dz9-2 0}.lst-kix_kkq46tr0dz9-5>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-5,lower-roman) ". "}.lst-kix_kkq46tr0dz9-3>li:before{content:"" counter(lst-ctn-kix_kkq46tr0dz9-3,decimal) ". "}ol{margin:0;padding:0}.c1{padding-left:0pt;widows:2;orphans:2;direction:ltr;margin-left:108pt;color:white;}.c2{widows:2;orphans:2;text-indent:36pt;direction:ltr;margin-left:36pt}.c8{padding-left:0pt;widows:2;orphans:2;direction:ltr;margin-left:36pt}.c5{widows:2;orphans:2;height:11pt;direction:ltr;margin-left:36pt}.c4{padding-left:0pt;widows:2;orphans:2;direction:ltr;margin-left:72pt}.c9{widows:2;orphans:2;direction:ltr;page-break-after:avoid}.c10{widows:2;orphans:2;height:11pt;direction:ltr}.c7{max-width:468pt;background-color:#ffffff;padding:72pt 72pt 72pt 72pt}.c0{margin:0;padding:0}.c6{font-weight:bold}.c3{text-decoration:underline}.title{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#000000;font-size:21pt;font-family:"Trebuchet MS";padding-bottom:0pt;page-break-after:avoid}.subtitle{widows:2;padding-top:0pt;line-height:1.15;orphans:2;text-align:left;color:#666666;font-style:italic;font-size:13pt;font-family:"Trebuchet MS";padding-bottom:10pt;page-break-after:avoid}